/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
html {
    font-size: 16px;
    color: #333;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
    margin: 1% auto;
    width: 90%;
    max-width: 57rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
}

main {

    margin-bottom:3rem;
    padding: 0 1rem;
    margin: 0;

}

/* 2 column flexbox */
.columns {
    display: flex;
    gap: 2rem;
}

.page-header {
    background-image: url('bgheader.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #423A34;
    background-blend-mode: overlay;
    color: white;
    padding: 1rem;
}

.article-header {
    background-color: #423A34;
    padding:1rem;
    color: white;
}

/* nav flexbox */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    display: flex;
    gap: 2rem;
    margin: 1rem;
    padding: 1rem;
}

nav a:hover {
    color:#c6bfba
}

/* logo */

.logo {
font-size: 2rem;
color: white;
padding: 0.5rem 1rem;
}

h1 {

font-family: Oswald, sans-serif;
font-size:4rem;

}

h2 {

    font-family: Oswald, sans-serif;
    font-size:2rem;

}
h3, dl {
    font-size:1.5rem;
    margin-bottom:.5rem;
}

ol {

    margin-top:0;
    padding-left:0;
    list-style-type: none;
    font-size:.875rem;

}

img {
  width: 100%;
  max-width: 30rem;
  height: auto;
}

/* imagebar grid layout */
.image-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    background-color: #827070; 
    padding: 1.5rem;
    margin: 2rem 0;
    border-radius: 8px;
}

p, ul, ol, figcaption, dd {
  font-weight: 300;
  font-size: 0.875rem;
}