@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html {
 font-size:16px;
 color:#333;
 font-family: Poppins, sans-serif;
}

body { 
 background-color: #FFF;
 margin:2% auto;
 width:90%;
 max-width:39rem;
 font-weight:400;
}



header {
	display:grid;
	grid-template-rows: 1fr;
	gap: 0;
	justify-content: start;

}

header p {
	margin-top:-1rem;
	padding:0;
	text-align: right;
	font-size:1rem;
}

nav {

	margin-top:.75rem;
	background-color:darkslategrey;
	padding:.25rem .5rem;
	border-radius:5px;
}

nav ul {
	padding:0;
	margin:0;
	list-style-type: none;
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content:space-evenly;
}

nav a {

	text-decoration: none;
	color:#EEE;

}

h1, h2, h3 {

	font-family: Oswald, sans-serif;

}

h1 {
	font-size:4rem;
	margin-bottom:0;

}

h2 {
 font-size:2rem;
 font-family: 'Karantina', cursive;
 letter-spacing: .125rem;
	text-transform: uppercase;
}

main {
	margin:4rem 0;
	
   }

   main p {

	font-size:.875rem;

   }
