/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f6f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background: linear-gradient(rgba (0,0,0,0.6), rgba(0,0,0,0.6)),
                url("how-to-become-an-information-technology-specialist160684886950141.jpg") center/cover no-repeat;
    color: rgb(2, 2, 2);
    padding: 4rem 0;
    text-align: center;
}
header h1 {
    font-size: 3rem;
    margin: 0;
}

nav {
    background: #333
    padding 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a :hover {
    color: #f1d23f;
}

main {
    padding: 3rem 0;
}

section {
    margin-bottom: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5 rem;
    background: #cc4932;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;

}

.btn:hover {
    background: #e5c500;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    header h1 {
        font-size: 2rem;
    }

    html {
        scroll-behavior: smooth;
    }

    .article-content img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 1rem 0;
    }

    .article-imagine figcaption {
        font-size: 0.875rem;
        font-style: italic;
        color: #555;
        margin-top: 0.5rem;
        text-align: center;
    }
}