/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
 font-size:16px;
}

body { 
    background-color: #FFF;
    font-family: Arial, Verdana, sans-serif;
    margin:10% auto;
    width:80%;
    max-width:37.5rem;
    font-family: 'Roboto', sans-serif;
}

p {
 margin:2rem 0;
 font-weight:200;
}

main {
 
}

h1 {
 font-size:4rem;
 font-family: 'Oswald', cursive;
 letter-spacing: .125rem;
}

nav {

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;

}

nav a {

    text-decoration: none;
    display:block;
    font-size:.875rem;
    padding:.5rem;
    margin-bottom:1rem;
    border:1px solid #333;
    border-radius:5px;
    align-content: center;

}
