/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing:border-box;
    padding:0;
    margin:0;    
}

:root {
    font-size:16px;
    font-family:Roboto;
    --primary-color:rgba(255, 255, 255, 1);
    --secondary-color:#1B2A41;
    background-image: url('../images/usgs-hoS3dzgpHzw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--secondary-color);
    color:var(--primary-color);
    background-blend-mode:overlay;
    width: 100%;
    height: 100vh;
}

body {

    color:var(--primary-color);
    padding:2rem;
    opacity:.7;
    
}

p {

 margin:2rem 0;

}

main {

    max-width:48rem;
 
}

h1 {
 font-size:3rem;
 font-family: 'Oswald', san-serif;
}

h2 {

    font-size:1.5rem;
    font-family: 'Oswald', san-serif;

}

nav {

    display:block;
   
}

nav a {

    display:block;
    font-size:1rem;
    font-weight:600;
    padding:.5rem;
    color:var(--main-color)

}

nav a:hover {

    opacity:.5;
    text-decoration: none;

}

footer {

    padding:2rem 0;
    font-size:1rem;
   
}


@media screen and (min-width:769px) {
    
    :root {

        background-blend-mode: normal;
        background-color: none;
   
    }

    body {

        width: 100vw;
        height: 100vh;
        display:flex;
        justify-content:center;
        align-items: center;
        opacity:.8;
        
    }
    
    h1 {

     font-size:4rem;

    }

    h2 {

        font-size:2.5rem;

    }

    .blurb-text {

        font-size:1.25rem;
        font-weight:200;

    }
    
    nav {
        
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap:.5rem;
    
    }

    footer {

        font-weight:200;

    }
   
}
