/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */

html {
    font-size: 16px;
    color: #000000;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    background-color:#ffffff ;


}

.page-header { 
 background:#FFB6C1 url(../images/flowersss.jpg) center/cover no-repeat;
  background-blend-mode: overlay;
  color:#D9027D;
  padding:1rem;
  font-family: Roboto, sans-serif; 
  text-orientation: center;
  overflow: hidden;



 }
body {

    background-color: #ffffff;
    margin: 1% auto;
    width: 100%;
    max-width: 50rem;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.3;
    padding-top: 0;
    padding-left: 1;
    padding-right: 1;   
}
main {

    margin-bottom:0 px;
}  

#main-nav {

  grid-column: 4 / 12;
  grid-row: 2 / 3;
  display:flex;
  justify-content: space-evenly;
  align-items:center;

}

#main-nav a {

  font-size:1rem;
  font-weight:600;
  font-size: 1rem;

}

 .logo {
    display: block;
    margin: 0 auto;
    max-width: 70px;
    position: absolute;
    top: 10px; 
    height: auto;
    image:url(../images/Isabella Furuc);
  }


h1 {
    color: #D9027D;
    font-family: Oswald, sans-serif;
    font-size:2rem;
    text-align: center;
}

h2 {
    color: #D9027D;
    font-family: Oswald, sans-serif;
    font-size:.875rem;

}

h3 {
     color: #D9027D;
    font-family: Oswald, sans-serif;
    font-size:.875rem;
}

ol {

    margin-top:0;
    padding-left:1;
    padding-right: 1;
    list-style-type: none;
    font-size:.875rem;

}

dl {

    margin-top:0;
    margin-bottom: 1.5rem;
    padding-left:1;
    padding-right: 1;
    list-style-type: none;
    font-size:.875rem;

} 
img {
    width: 35%;
    max-width: 30rem;
    image-orientation: center;

} 

.image-bar {
    display: flex;
    justify-content: center; /* Centers images */
    gap: 15px; /* Adds space between images */
    padding: 10px;
    background-color: #F8C8DC; 
    text-align: center;/* Optional background */
}

.image-bar img {
    width: 70px; /* Adjust image size */
    height: auto;
    border-radius: 5px;
    align-items: center; /* Optional rounded edges */
}




