/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
html {
    font-size: 16px;
    color: #f0ebee;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    background-color:#fc80be ;


}

body {
    background-color: #fc80be;
    margin: 1% auto;
    width: 100%;
    max-width: 30rem;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.3;
    padding-top: 0;
    padding-top: 0;
    padding-left: 1;
    padding-right: 1;
}

main {

    margin-bottom:3rem;
    background-image: url("/shared-assets/images/examples/background image bows.jpg");
    padding: 1rem;


}

h1 {
    color: #f0ebee;
    font-family: Oswald, sans-serif;
    font-size:.875rem;
}




h2 {
    color: #f0ebee;
    font-family: Oswald, sans-serif;
    font-size:.875rem;

}


h3 {
     color: #f0ebee;
    font-family: Oswald, sans-serif;
    font-size:.875rem;
}


ol {

    margin-top:0;
    padding-left:1;
    padding-right: 1;
    list-style-type: none;
    font-size:.875rem;

}

dl {

    margin-top:0;
    margin-bottom: 1.5rem;
    padding-left:1;
    padding-right: 1;
    list-style-type: none;
    font-size:.875rem;

} 
img {
    width: 100%;
    max-width: 30rem;
    

} 

