/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
  background-color: #401591;
  background-image: url("C:\Users\Administrator\Documents\Abdiwali Olad\Background Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Main heading */
h1 {
  font-size: 60px;
  color: #cababa;
  position: static;
  text-align: start;
}

/* Section heading */
h2 {
  margin-top: 40px;
  color: #797a7a;
  font-size: 50px;
}

/* Paragraphs */
p {
  font-size: 32px;
  color: #f5f8f6;
}


/* Navigation list */
ul {
  padding: 0;
}

li {
  list-style: disc;
  list-style-position: outside;
  list-style-type: square;
  margin: 15px 0;
  text-align: justify;
}

/* Links */
nav a {
  display: block;                
  text-decoration: none;
  color: #0066cc;
  font-size: 22px;                
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

/* Hover effect */
nav a:hover {
  background-color: #0066cc;     
  color: white;                  
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
