/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
html {
    font-size: 18px;
    color: #333;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #d41f1f;
    margin: 1% auto;
    width: 90%;
    max-width: 57rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
}

main {

    margin-bottom:3rem;

}

h1 {

font-family: Oswald, sans-serif;
font-size:4rem;

}

h2 {

    font-family: Oswald, sans-serif;
    font-size:2rem;

}
h3 {
    font-size:1.5rem;
    margin-bottom:.5rem;
}

ol {

    margin-top:0;
    padding-left:0;
    list-style-type: none;
    font-size:.875rem;

}